## This file contains all variables need to be set for STM
## Replace all <...> values

## UAT vs Prod
ENVIRONMENT = <env>

## LDAP Credentials
LDAP_HOST = <host>
LDAP_USER = <user>
LDAP_PASS = <password>

## MSSQL Credentials
SQL_SERVER = <host>
DATABASE = <db>
SQL_USER = <user>
SQL_PASS = <password>