## This file contains all variables need to be set for STM
## Replace all <...> values

## UAT vs Prod environment for STM
ENVIRONMENT=<UAT/PROD>
##

## Smartpath Environment 
SMARTPATH_ENV=<qa/uat/prod>
##

## API version
API_VERSION=<api_version>
##

## Smartpath QA
QA_CLIENT_SECRET=<client_secret>
QA_USER=<user>
QA_PASSWORD=<password>
##

## Smartpath UAT
UAT_CLIENT_SECRET=<client_secret>
UAT_USER=<user>
UAT_PASSWORD=<password>
##

## Smartpath Prod
PROD_CLIENT_SECRET=<client_secret>
PROD_USER=<user>
PROD_PASSWORD=<password>
##

## MSSQL Credentials
SQL_SERVER=<host>
DATABASE=<db>
SQL_USER=<user>
SQL_PASS=<password>

## Elastic 
ELASTIC_SERVER=<server>
ELASTIC_USER=<user>
ELASTIC_PASS=<pass>
##

## UAT RabbitMQ 
UAT_RABBIT_USER=<user>
UAT_RABBIT_PWD=<password>
UAT_RABBIT_IP=<host>
UAT_RABBIT_PORT=<port>
##

## PROD RabbitMQ
PROD_RABBIT_USER=<user>
PROD_RABBIT_PWD=<password>
PROD_RABBIT_IP=<host>
PROD_RABBIT_PORT=<port>
##

## LDAP Credentials
LDAP_HOST=<ldap_host>
LDAP_USER=<ldap_user>
LDAP_PASS=<ldap_pass>
##

