## This file contains all variables need to be set for STM
## Replace all <...> values

## RABBITMQ Start
RABBITMQ_DEFAULT_USER=<user>
RABBITMQ_DEFAULT_PASS=<password>
RABBITMQ_DEFAULT_PORT1=<port>
RABBITMQ_DEFAULT_PORT2=<port>
## RABBITMQ End